*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}
body{
   background-color: #EFEFEF;
}



    header{
      background-image: url("../assets/retangulo.jpg");
        height: 341px;
        width: 100%;
        position: relative;
       
    }

 h1{

    font-size: 68px;
    font-family: ' Rubik', sans-serif;
    font-weight: 700;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

 }

 h1 strong{
    color: #f2c94c;
 }

 header span{
    color: rgba(255,255,255,0.02);
   font-family: 'Rubik';
   font-weight: 700;
   font-size: 170px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   position: absolute;
 }

section ul{
   width: 737px;
   margin: 64px auto;
   list-style: none;
}

section li{
   display: flex;
   gap: 150px;
   margin-bottom: 64px;
}
 

section h2{
   font-family: 'Karla';  
   font-weight: 800;
   font-size: 32px;
   color: #17150E;
   white-space: nowrap;
   position: sticky;
   top: 10px;
   height: auto;
   position: sticky;
   top: 10px;
}

 h3{

   font-family: 'Karla';
   font-weight: 800;
   font-size: 24px;
   line-height: 28px;
   color: #17150E;
   margin-bottom: 16px;

}
 
p{
   font-family: 'Karla';
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: #181713;
   margin-bottom: 16px;
}

svg{
   position: fixed;
   bottom: 50px;
   right: 50px;
   cursor: pointer;
}

path:hover{
fill: #7c6a2e;
}
















